<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- displays site properly based on user's device -->

		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="./images/favicon-32x32.png" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Overpass&display=swap"
			rel="stylesheet" />

		<title>Frontend Mentor | Interactive rating component</title>
	</head>

	<body>
		<div v-show="!isVoted" class="containerRating">
			<img class="star" src="./images/icon-star.svg" alt="icon of star" />
			<h1>How did we do?</h1>
			<p>
				Please let us know how we did with your support request. All feedback is
				appreciated to help us improve our offering!
			</p>
			<div class="ratingButtons">
				<button @click="clickRate($event)" class="rateBtn1" :class="{'isClicked':rateValue=='1'}" value="1">1</button>
				<button @click="clickRate($event)" class="rateBtn2" :class="{'isClicked':rateValue=='2'}" value="2">2</button>
				<button @click="clickRate($event)" class="rateBtn3" :class="{'isClicked':rateValue=='3'}" value="3">3</button>
				<button @click="clickRate($event)" class="rateBtn4" :class="{'isClicked':rateValue=='4'}" value="4">4</button>
				<button @click="clickRate($event)" class="rateBtn5" :class="{'isClicked':rateValue=='5'}" value="5">5</button>
			</div>

			<button
				@click="clickSubmit()"
				class="submitButton"
				:disabled="!isSelected">
				Submit
			</button>
		</div>
		<div :style="{display: isVoted ? 'flex' : none}" class="containerThankYou">
			<img
				src="./images/illustration-thank-you.svg"
				alt="image about transaction"
				class="thankYouImage" />
			<p class="selectedInfo">You selected {{rateValue}} out of 5</p>
			<h1>Thank you!</h1>
			<p class="thankYouInfo">
				We appreciate you taking the time to give a rating. If you ever need
				more support, don’t hesitate to get in touch!
			</p>
		</div>

		<footer class="attribution">
			Challenge by
			<a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
				>Frontend Mentor</a
			>. Coded by
			<a href="https://www.frontendmentor.io/profile/mateusz2247">mateusz2247</a
			>.
		</footer>
	</body>
</html>
