.app{
	background-color: black;
}

html {
	font-size: 15px;
}
body {
	background-color: hsl(216, 12%, 8%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	font-family: "Overpass", sans-serif;
}
.containerRating {
	display: flex;
	flex-direction: column;
	background-color: hsl(213, 19%, 18%);
	height: 30rem;
	width: 27rem;
	color: hsl(0, 0%, 100%);
	border-radius: 1.5rem;
	padding: 2rem;
	
}
.star {
	background-color: hsl(216, 12%, 54%, 10%);
	border-radius: 50%;
	padding: 1rem;
	width: 2rem;
}

.containerThankYou {
	padding: 2rem;
	background-color: hsl(213, 19%, 18%);
	height: 30rem;
	width: 27rem;
	color: hsl(0, 0%, 100%);
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}
.thankYouImage {
	padding: 2rem;
}

.rateBtn {
	border-radius: 50%;
	height: 4rem;
	width: 4rem;
	padding: 1rem;
	font-size: 1.5rem;
	background-color: hsl(216, 12%, 54%, 10%);
	border: none;
	color: hsl(217, 12%, 63%);
	cursor: pointer;
}

.rateBtn:hover {
	background-color: hsl(25, 97%, 53%);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
}

.ratingButtons {
	display: flex;
	justify-content: space-around;
	padding-bottom: 2rem;
}

.submitButton {
	border-radius: 2rem;
	height: 4rem;
	background-color: hsl(25, 97%, 53%);
	color: hsl(0, 0%, 100%);
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	cursor: pointer;
	font-weight: 700;
}

.submitButton:hover {
	cursor: pointer;
	color: hsl(25, 97%, 53%);
	background-color: hsl(0, 0%, 100%);
	font-weight: 700;
}

span {
	background-color: hsl(217, 12%, 63%);
	border-radius: 4px;
}
p {
	font-size: 1.5rem;
	color: hsl(217, 12%, 63%);
}
.thankYouInfo {
	margin-top: 0;
	text-align: center;
}
.selectedInfo {
	background-color: hsl(216, 12%, 54%, 10%);
	padding: 0.7rem 2rem;
	border-radius: 2rem;
	color: hsl(25, 97%, 53%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: white;
}
.attribution a {
	color: hsl(25, 97%, 53%);
}
